<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/agregar.css">
    <title>Agregar</title>
</head>
<body>
    <header>
        <div class="header__title--container">
            <h1>Administrar</h1>
        </div>
    </header>

    <section class="login">
        <form action="" class="form">

                <h2>Agregar un nuevo local:</h2>

                <input type="text" placeholder="Nombre del local" class="input" id="nombre_local">
                <input type="text" placeholder="Correo" class="input" id="email">
                <input type="password" placeholder="Llave de acceso" class="input" id="password">
                <input type="text" placeholder="Nombre del responsable" class="input" id="nombre_responsable">
                <input type="text" placeholder="Capacidad Máxima" class="input" id="capacidad_maxima">
                <input type="text" placeholder="Teléfono" class="input" id="telefono">
                <input type="text" placeholder="Dirección" class="input" id="direccion">
                <input type="text" placeholder="Ciudad" class="input" id="ciudad">
                <input type="text" placeholder="Provincia" class="input" id="provincia"> 
            
                <br>
                <button type="button" class="button"> Agregar </button>

        </form>
    </section>

</body>
</html>