<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/arduino.css">
    <link rel="stylesheet" href="/resources/css/mediaqueries/tablet.css" media="(min-width: 600px)">
    <title>Arduino Simulator</title>

  </head>
  <body>


            <header>
                <div class="header__title--container">
                  <a href="/"> <i class="fas fa-chevron-left fa-w-8 fa-3x"></i></a>
                    <h1>Arduino</h1>
                </div>

            </header>





            <section class="container">

              <form id="form_ingreso_egreso" action="arduino" method="POST">

              <div class="contador">
                  <button type="submit" class="buttonMas" name="mas1">
                    +1
                  </button>
                  <button type="submit" class="buttonMenos" name="menos1">
                    -1
                  </button>
                </div>
                </form>

            </section>






                <script src="https://kit.fontawesome.com/5e2793018e.js" crossorigin="anonymous"></script>

  </body>
</html>
