<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/userIndex.css">
    <link rel="stylesheet" href="/resources/css/mediaqueries/tablet.css" media="(min-width: 600px)">

    <title>User Page</title>

  </head>
  <body>


            <header>

                <div class="header__title--container">
                    <h1>Arduino</h1>
                </div>

            </header>


  </body>
</html>
