<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/userIndex.css">
    <link rel="stylesheet" href="/resources/css/mediaqueries/tablet.css" media="(min-width: 600px)">

    <title>User Page</title>

  </head>
  <body>


            <header>

                <div class="header__title--container">
                    <h1>Arduino</h1>
                </div>

            </header>

            <section class="container">

              <form id="form_ingreso_egreso" action="arduino" method="POST">

              <div class="contador">
                  <button type="submit" class="Actuales" name="mas1">
                    +1
                  </button>
                  <button type="submit" class="Maximas" name="menos1">
                    -1
                  </button>
                </div>
                </form>



            </section>

  </body>
</html>
