<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/styles.css">
    <title>Stats Page</title>
</head>
<body>

    <header>
        <div class="header__title--container">
            <a href="/indexUsuario"> <i class="fas fa-chevron-left fa-w-8 fa-3x"></i></a>
            <h1>Administrar</h1>
        </div>
     </header>

     <section class="container">

        <div class="graphcontainer">
            Acá va el canvas
        </div>

     </section> 
     


     <script src="https://kit.fontawesome.com/5e2793018e.js" crossorigin="anonymous"></script>

</body>
</html>