<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="/resources/css/style.css">
  </head>
  <body>

    <h1>Esta es la página de inicio</h1>
    <h2>Sucursal: <%= msg %> </h2>

  </body>
</html>
