<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/userIndex.css">
    <link rel="stylesheet" href="/resources/css/mediaqueries/tablet.css">
    <meta http-equiv="refresh" content="1">
    <title>User Page</title>

  </head>
  <body>

    <header>
        <div class="header__title--container">
            <h1>Administrar</h1>
        </div>
     </header>


     <section class="subheader__container">
      <div class="subheader">
          <% if(typeof nombre_local !== "undefined") {%>
          <h3><%= nombre_local %></h3>
          <%}else{%>
          <script type="text/javascript"> window.location.reload(true) </script>
          <%}%>
      </div>
    </section>


     <section class="container">

          <div class="contador">

                    <div class="Actuales">
                      <% if(typeof suma !== "undefined") {%>
                        <h1 id="personasActuales"><%= suma %></h1>
                      <%}%>
                        <h4>Actuales</h4>
                    </div>


                    <div class="Maximas">
                      <% if(typeof capacidad_maxima !== "undefined") {%>
                        <h1 id="personasMaximas"><%= capacidad_maxima %></h1>
                      <%}%>
                        <h4>Máximas</h4>
                    </div>

          </div>

     </section>



        <button onclick="location.href='/estadisticas'" class="stats">
            Estadísticas
        </button>

        <script type="text/javascript">

        </script>
  </body>
</html>
