<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/style.css">
    <title>Página de usuario</title>
    <meta http-equiv="refresh" content="1">
  </head>
  <body>
    <h1>DOU INDEX USUARIO</h1>
    <% if (typeof suma !== "undefined") {%>
    <h1><%= suma %> XD</h1>
    <%} else {%>
    <h1>Cargando...</h1>
    <%}%>
  </body>
</html>
