<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/css/locales.css" >
    <link rel="stylesheet" href="resources/css/mediaqueries/tablet.css" media="(min-width: 700px)">
    <title>Locales</title>
</head>
<body>
    
    <header>
        <div class="header__title--container">
            <a href="/indexAdmin"> <i class="fas fa-chevron-left fa-w-8 fa-3x"></i></a>
            <h1>Administrar</h1>
        </div>
     </header>


    <section class="container">


        <a class="local ejemplo" href="#"> 
            Carlos Mercadito
        </a>

        <a class="local ejemplo2" href="#">
            Super Ultra
        </a>

        <a class="local" href="#">
            Local
        </a>

        <a class="local" href="#">
            Local
        </a>

        <a class="local" href="#">
            Local
        </a>

        <a class="local" href="#">
            Local
        </a>


    </section>     



     <script src="https://kit.fontawesome.com/5e2793018e.js" crossorigin="anonymous"></script>

</body>
</html>