<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/css/locales.css" >
    <link rel="stylesheet" href="resources/css/mediaqueries/tablet.css" media="(min-width: 700px)">
    <title>Locales</title>
</head>
<body>

    <header>
        <div class="header__title--container">
            <a href="/"> <i class="fas fa-chevron-left fa-w-8 fa-3x"></i></a>
            <h1>Administrar</h1>
        </div>
     </header>

     <a href="/locales">Click aquí para obtener nuevos resultados</a>

    <section class="container" id="contenedor">

      <% if(typeof listaLocales !== "undefined") {%>
      <% for(let i=0; i<listaLocales.length; i++) {%>
        <form action="cargarContadorAdmin"  method="POST">
        <button type="submit" name="<%= listaLocales[i].id %>" class="local"><%= listaLocales[i].nombre_local%></button>
      </form>
      <%}} else {%>
        <script type="text/javascript"> window.location.reload(true) </script>
      <%}%>

    </section>

     <script src="https://kit.fontawesome.com/5e2793018e.js" crossorigin="anonymous"></script>

</body>
</html>
