<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/login.css">

    <title>Iniciar Sesión</title>
</head>
<body>
    <header>
        <div class="header__title--container">
            <h1>Administrar</h1>
        </div>
    </header>

    <section class="login">
        <form action="" class="form">

            <h2>Iniciar Sesión</h2>

            <div class="input__container">
                <i class="far fa-envelope"></i>
                <input type="text" placeholder="Correo" class="input">
            </div>


            <div class="input__container">
                <i class="fas fa-key"></i>
                <input type="password" placeholder="Contraseña" class="input">
            </div>
            <br>
            <button type="button" class="button"> Acceder </button>

        </form>
    </section>



    <script src="https://kit.fontawesome.com/5e2793018e.js" crossorigin="anonymous"></script>

</body>
</html>
