<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/style.css">
    <link rel="stylesheet" href="/resources/css/userIndex.css">
    <link rel="stylesheet" href="/resources/css/mediaqueries/tablet.css">
    <meta http-equiv="refresh" content="1">
    <title>Administrar</title>

  </head>

  <body>

          <header>
              <div class="header__title--container">
                  <a href="/locales"> <i class="fas fa-chevron-left fa-w-8 fa-3x"></i></a>
                  <h1>Administrar</h1>
              </div>
          </header>




          <section class="subheader__container">
              <div class="subheader">
                  <h3>Nombe del local</h3>
              </div>
          </section>




            <section class="container">

                  <div class="contador">

                            <div class="Actuales">
                              <% if(typeof suma !== "undefined") {%>
                                <h1><%= suma %></h1>
                              <%}%>
                                <h4>Actuales</h4>
                            </div>


                            <div class="Maximas">
                              <% if(typeof capacidad_maxima !== "undefined") {%>
                                <h1 id="personasMaximas"><%= capacidad_maxima %></h1>
                              <%}%>
                                <h4>Máximas</h4>
                            </div>

                  </div>

            </section>



        <button onclick="location.href='/estadisticas'" class="stats">
            Estadísticas
        </button>



        <script src="https://kit.fontawesome.com/5e2793018e.js" crossorigin="anonymous"></script>

  </body>
</html>
