form h2{
    color: white;
}
.input{
    width: 80%;
    height: 30px;
    margin-bottom: 5%;
    height: 30px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 4px;
    border: 0px;
    font-size: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    
}
.input:focus{
    outline: none;
}
.button{
    background-color: #54BB52;
    width: 50%;
    height: 50px;
    border:none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}    
.button:hover{
    transition: 350ms;
    background-color: #027400;
  
}