.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.formStat{
    margin-top: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formStat button{
    width: 70%;
}
.formStat input{
    width: 140%;
}