/* Página /indexAdmin responsive */
.box{
    width: 40%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.header__title--container{
    display: flex;
    justify-content: center;
}
.header__title--container h1{
   margin: 0% 5% 0% 6%;
}
.box__img{
    margin-top: 5%;
}
/* Página /agregar responsive */

.input{
    width: 80%;
    height: 40px;
    margin-bottom: 2%;
    font-size: 20px;
}
.formAgregar{
    width: 100%;
}

/* Página /login responsive */

.input__container{
    margin-bottom: 1%;
}
.formLogin{
    width: 50%;
    height: 300px;
}
/* Página /locales responsive */

.local{
    width: 60%;
    height: 100px;
    margin-bottom: 2%;
}

/*/UserIndex Responsive*/
.subheader{
    width: 40%;
}

/* Estadísticas responsive*/
.formStat{
    margin-top: 10%;
}
.formStat button{
    width: 50%;
}
.formStat input{
    width: 100%;
}